<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html style="margin:0;
	padding:0;"><body style="margin:0;
	padding:0;">

<div id="wrapper" style="margin:0 auto;padding:0;width:99%;background:#ffffff;font-size:1.20em;">

	<!-- Menu Start  -->
    <div id="menu" style="margin:0;padding:0;position:relative;width:100%;">
        <div id="menuCenter" style="margin:0px;padding:0px;float:left;height:35px;width:100%;background-color:#2D5372;">

    	   <ul style="margin:0;padding:0;list-style-type:none;"><li style="margin:0;padding:0;float:left;"><a href="#ProQuiz" style="margin:0px 0px;padding:7px 15px;text-decoration:none;color:#ffffff;display:block;font-size:1.2em;font-weight:bold;height:21px;text-align:center;">Contact Admin For {SITETITLE}</a></li></ul>
</div>
  </div>    <!-- menu End -->

<!-- Start Sidebar -->

<div id="sidebar" style="margin:0;padding:0;float:right;width:26%;background:#fff;color:black;">
    <div class="sideCnt" style="margin:0px 5px 0px 10px;padding:5px;background-color:#CFD0EA;border-right:#2d5372 solid 1px;border-left:#2d5372 solid 1px;">
        <div class="sideImg" style="margin:5px auto;padding:0;height:100px;width:100px;">
            <img src="{IMGFOLDER}{UAIMG}" height="70px" width="70px" style="margin:0;padding:0;border:0;">
</div>
        <hr style="margin:0;
	padding:0;">
<div class="sideData" style="margin:0;
	padding:0;">
            <div class="sideDataType" style="margin:0;padding:0;font-weight:bold;font-size:1em;color:#000;text-align:left;text-transform:capitalize;">Name : <br /><span class="sideDataValue" style="margin:0;padding:0;font-size:1em;color:#2d5372;font-weight:normal;">{UAFNAME} {UALNAME}</span>
</div>

        </div>
        <hr style="margin:0;
	padding:0;">
<div class="sideData" style="margin:0;
	padding:0;">
            <div class="sideDataType" style="margin:0;padding:0;font-weight:bold;font-size:1em;color:#000;text-align:left;text-transform:capitalize;">Email Address : <br /><span class="sideDataValue" style="margin:0;padding:0;font-size:1em;color:#2d5372;font-weight:normal;">{UAEMAIL}</span>
</div>
        </div>
        <hr style="margin:0;
	padding:0;">
<div class="sideData" style="margin:0;
	padding:0;">
            <div class="sideDataType" style="margin:0;padding:0;font-weight:bold;font-size:1em;color:#000;text-align:left;text-transform:capitalize;">Date Of Birth : <br /><span class="sideDataValue" style="margin:0;padding:0;font-size:1em;color:#2d5372;font-weight:normal;">{UADOB}</span>
</div>

        </div>
        <hr style="margin:0;
	padding:0;">
<div class="sideData" style="margin:0;
	padding:0;">
            <div class="sideDataType" style="margin:0;padding:0;font-weight:bold;font-size:1em;color:#000;text-align:left;text-transform:capitalize;">Username : <br /><span class="sideDataValue" style="margin:0;padding:0;font-size:1em;color:#2d5372;font-weight:normal;">{UAUSERNAME}</span>
</div>
        </div>
        <hr style="margin:0;
	padding:0;">
<div class="sideData" style="margin:0;
	padding:0;">
            <div class="sideDataType" style="margin:0;padding:0;font-weight:bold;font-size:1em;color:#000;text-align:left;text-transform:capitalize;">Profile Info : <br /><span class="sideDataValue" style="margin:0;padding:0;font-size:1em;color:#2d5372;font-weight:normal;">{UAPROFILE}</span>
</div>

        </div>
    </div>
    <div id="sideFooter" style="margin:0;padding:0px 0px 0px 5px;width:100%;height:35px;color:#fff;text-align:center;font-size:1.1em;">
        
        <div id="sideBtmCenter" style="margin:0;padding:0;float:left;height:35px;background-color:#2D5372;width:100%;"></div>
        
    </div>
</div>   <!-- sidebar End -->

	<div id="content" style="margin:0;padding:0;float:left;width:70%;min-height:350px;border-left:solid #2d5372 1px;border-right:solid #2d5372 1px;">
		
		<div class="pqMain" style="margin:0;padding:25px 10px;text-align:justify;line-height:1.75em;">
	    <div class="pqTitle" style="margin:0;padding:0;font-size:1.90em;font-weight:normal;letter-spacing:-1px;color:#F60;"><a href="#" style="margin:0;padding:0;text-decoration:none;color:#F60;">Admin Mail</a></div>

        <div class="cntHolder" style="margin:10px 20px;padding:0;position:relative;width:95%;color:#000;">
            <div class="headDisp" style="margin:0;padding:5px 10px;background-color:#9AC7DA;font-size:1.5em;font-weight:bold;color:#094268;margin-bottom:5px;">Subject :</div>
                <div class="divData" style="margin:0 auto;padding:0;width:100%;position:relative;">
                    <div id="rankData" style="margin:0px 10px 10px 10px;padding:30px 0px;float:left;width:96%;background-color:#FDC49B;color:black;font-size:1.5em;font-weight:bold;text-align:center;border:#D65C04 2px solid;margin-left:5px;">{SUBJECT}</div>

                </div>       
                <div style="clear:both;margin:0;padding:0;"></div>
            <div class="headDisp" style="margin:0;padding:5px 10px;background-color:#9AC7DA;font-size:1.5em;font-weight:bold;color:#094268;margin-bottom:5px;">Mesaage :</div>

                <div class="listRows" style="margin:5px 15px;padding:5px 0px 5px 20px;width:92%;position:relative;text-align:left;font-size:1.1em;font-weight:bold;color:#094268;background-color:#C7E3EE;border:#094268 1px solid;">
                    <pre style="margin:0;padding:0;">{MESSAGE}</pre>
                </div>
                

                <div style="clear:both;margin:0;padding:0;"></div>   
                <div class="headDisp" style="margin:0;padding:5px 10px;background-color:#9AC7DA;font-size:1.5em;font-weight:bold;color:#094268;margin-bottom:5px;">&nbsp;</div>

        </div>
			
		</div>
	</div>    <!-- content End -->

	<!-- Footer Include -->
    <div id="footer" style="margin:0;padding:0;clear:left;height:35px;">


	<div id="footer-valid" style="margin:0px;padding:0px;cursor:default;color:#82bde4;position:relative;float:left;height:35px;width:70%;background-color:#2D5372;border-left:solid #2d5372 1px;border-right:solid #2d5372 1px;">
		<span style="margin:0;padding:10px 0px 10px 150px;position:absolute;">&copy; All Rights Reserved 2010 | <a href="{SITELINK}" style="margin:0;padding:0;text-decoration:none;color:#aaa;">{SITETITLE}</a></span>

	</div>
    
</div>
<div id="softon" style="margin:0;padding:0;padding-left:200px;font-weight:bold;color:#2d5372;"><div style="margin:0;
	padding:0;">Powered by - <a href="http://www.softon.org" style="margin:0;padding:0;text-decoration:none;color:#F60;">Softon Technologies</a>
</div></div>
</div> <!-- wrraper End -->

</body></html>